.contact_page{
    background-color: var(--color-accent1);
}
.header_1{
    background-image: url('../../assets/Untitled\ design\ \(7\).png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}
.box_info{
    display: flex;
    flex-direction: row;
    padding-inline: 48px;

}
.formmessage{
    border-radius: 5px;
    border: 2px solid rgb(111, 250, 255);
    margin:50px;
    color: var(--color-light2);
    margin: 48px;
    padding-block: 48px;
    display: flex;
    flex-direction: row;
    
}
input{
    
}
input ,textarea{
    background-color: var(--color-accent1);
    margin: 10px 0px !important;
    padding: 10px;
    border: 2px solid var(--color-light2);
    border-radius: 15px;
    color: var(--color-light2);

}
input:focus ,textarea:focus{
    outline: none;

  }
textarea{
    height: 150px;
}
.leavemsg{
    text-transform: uppercase;
}
.iconbtm{
    font-size: 80px;
    margin-bottom: 15px;
}
.from_cls{
    flex: 1 0;
    padding-right: var(--paadding-mobile-main);
}
@media screen and (max-width: 992px){
    .formmessage{
        flex-direction: column;
        padding: var(--paadding-mobile-main);
        margin:var(--paadding-mobile-main) !important;
    }
    .box_info{
        flex-direction: column;
        padding-inline: var(--paadding-mobile-main);
    }
    .from_cls{
        
        padding-right: 0px;
    }
   
}