.footer{
    color: var(--color-light2);
}
.footersec1{
    background-color: var( --color-accent2);
    width: 100%;
    margin: 0px !important;
}
.titlecontact{
    font-weight: 200;
    text-transform: uppercase;
}
.footersec2{
    background-color: var(--color-accent3);
    width: 100%;
    min-height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.center_section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
   }
   
a{
    color: var(--color-light2) !important;
}
.cpoyright{
    flex: 1;
    text-align: left;
}
@media screen and (max-width: 992px) {
    .footersec2{
        flex-direction:column-reverse;
    }
    .cpoyright{
        text-align: center;}
    .center_section{
        /* flex-direction:column ; */
    }
    .contact_info{
        padding-inline: var(--paadding-mobile-main);
       }
  }