.head_top{
     /* background-color: var(--color-accent1);  */
        color: var(--color-light2);
}
.head_top h1{
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 1000;
}
.head_top hr{
    width: 100px;
    padding: 20px 0px;
    
}
.head_top p{
    text-transform: uppercase;
    font-size: 20px;
    max-width: 600px;

}
.routepage{
    font-size: 19px;
    padding-top: 20px;
}
.page_home{
}
.page_name{
    padding-bottom: 20px;
    color: var(--color-page);
    border-bottom:  solid 2px var(--color-page);
}
@media screen and (max-width: 992px){
    .head_top p{
        width: auto;
    }
    .head_top h1{
        font-size: var(--text-size-mobile);
    }
}
