.navbar-style{
}
.navbar-nav a{
    color: var(--color-light2);
    font-weight: bold;
}
.navbar-nav a:hover{
    color: var(--color-light2);
}
.btn_menu{
    font-size: xx-large;
    color: white;
}
@media (min-width: 992px){
    .btn_menu{
        display: none;}
}