:root{
  --color-main: #0B3507;
  --color-secondary: #C85BC1;
  --color-accent1: #49182E;
  --color-accent2: #58571D;
  --color-accent3: #64BB3E;
  --color-dark: #081317;
  --color-light: #DFD09F;
  --color-light2: #F4FBF6;
  --color-darker: #c2c5c3;
  --color-light3:#d7dad7;


  --font-family-primary: "Poppins", sans-serif;

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
}